.home-container {
  height: 100%;
  padding: 20px;
  overflow-y: hidden;
  max-width: 1600px;
  margin: auto;
}

.courses-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  height: 100%;
  padding: 20px;
  color: white;
  backdrop-filter: blur(5px);
}

.courses-list {
  flex: 25%;
  border: solid 1px gainsboro;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  overflow-y: scroll;
  height: calc(100vh - 80px - 80px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.courses-title {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 1.6rem;
  text-align: center;
}

.course-card-container {
  border: 1px solid gainsboro;
  padding: 10px;
  transition: all 0.25s;
  font-size: 1.1rem;
  border-radius: 5px;
}

.course-card-container:hover {
  border: var(--guitar-orange) 1px solid;
  color: var(--guitar-orange);
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
}

.active-course-card {
  background-color: var(--guitar-orange);
  color: white;
  font-weight: bold;
  border-color: var(--guitar-orange);
}

.active-course-card:hover {
  color: white;
  border-radius: 5px;
}

.courses-view {
  flex: 75%;
  border: solid 1px gainsboro;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  overflow-y: scroll;
  height: calc(100vh - 80px - 80px);
}

.welcome-view-container {
  height: 100%;
  font-size: 1.1rem;
  padding: 80px 50px 50px 50px;
  max-width: 78ch;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-title {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--guitar-orange);
  font-weight: bold;
}

.welcome-tips {
  margin-top: 2.2rem;
  white-space: pre-line;
  line-height: 2.2rem;
}

.welcome-tips-title {
  font-weight: bold;
  color: var(--guitar-orange);
}
